extends ./layout.jade

block content
    div(id="street-view")
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand find.me
              nav
                ul.nav.masthead-nav
                  li.active.homeLink
                    a(href='#home') Home
                  li.playLink
                    a(href="#play") Play
                  li.shopLink
                    a(href='#shop') Shop
                  li.aboutLink
                    a(href='#about') About
                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | Account
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='#account',id="myAccount").myAccount My Account
                      li
                        a(href="#achievements").achievementPage Achievements
                      li
                        a(href="#statistics").statsPage Stats
                      li
                        a(href="#friends").friendsPage Friends
                      li.divider.accountDivider(role='separator')
                      li
                        a(href='#home',id="signOut").signOut Sign out
                      li
                        a(href="#account",hidden,id="logIn").logIn Log in
          .inner.cover
            .home(id="#home")
              h1.cover-heading Play find.me
              p.lead
                | find.me is a game where you and a friend are placed in a city in random locations, and have to find eachother with street view.
              p.lead
                a.btn.btn-lg.btn-default.playBtn(href='#') Play Now
            .play(hidden id="#play")
              p.lead
                | Game Selection Here
            .error(hidden id="#error")
              p.lead
                | Could not find requested page
            .signup(hidden id="#signup")
              div
                h1.cover-heading Sign up
                .form-group
                  label(for='exampleInputEmail1') Email address
                  input#signupEmail.form-control(type='email', placeholder='Email')
                .form-group
                  label(for='exampleInputPassword1') Password
                  input#signupPassword.form-control(type='password', placeholder='Password')
                button.btn.btn-lg.btn-success.signup-btn Sign up
                h5.errorMessageSignup(hidden, style="color:rgba(255,255,255,0.5)") ERROR
            .login(hidden id="#login")
                .loginInfo
                  h1.cover-heading Login
                  .form-group
                    label(for='exampleInputEmail1') Email address
                    input#loginEmail.form-control(type='email', placeholder='Email')
                  .form-group
                    label(for='exampleInputPassword1') Password
                    input#loginPassword.form-control(type='password', placeholder='Password')
                  button.btn.btn-lg.btn-success.login-btn Login
                  h5.errorMessageLogin(hidden, style="color:rgba(255,255,255,0.5)") ERROR
                  h5(style="color:rgba(255,255,255,0.5)")
                    | Don't have an account? 
                    a(href="#signup" id="signup") Sign up
                .notVerified(hidden)
                  p.lead
                    | Please verify your email before continuing
                  h5(style="color:rgba(255,255,255,0.5)").emailNotSent Didn't get an email? 
                    a(href="#play") Send another
            .account(hidden id="#account")
              .container-fluid.wideContainer
                .row
                  .col-md-6.col-sm-6.col-xs-6.avatarBox
                    .innerAvatarBox
                      img(src="/static/images/players/default.png").avatar
                      br
                      br
                      button.btn.btn-md.btn-default.imageChanger Change Image
                      input(type="file" hidden id="fileUpload" accept = "image/gif,image/jpeg,image/png,image/tif").fileUpload
                      canvas(hidden id="resizeImage" width="400px" height="400px")
                  .col-md-6.col-sm-6.col-xs-6.playerInfo
                    h1.h0.playerName XenonDev54
                    .row
                      .col-md-4.col-sm-4.col-xs-4
                        .row
                          .col-md-1.col-sm-1.col-xs-1
                              h3 Lv.
                            .col-md-9.col-sm-9.col-xs-6
                              h3 1
                        .row
                          .col-md-1.col-sm-1.col-xs-1
                            //img() <-- Coin
                            h3 ₵
                          .col-md-9.col-sm-9.col-xs-6
                            h3 0
                      .col-md-8.col-sm-8.col-xs-8.center
                        .row
                          .col-md-3.col-sm-3.col-xs-3
                            //ACHIEVEMENT
                            img(src="/static/images/achievements/transparent.png",width="90%")
                          .col-md-3.col-sm-3.col-xs-3
                            //ACHIEVEMENT
                            img(src="/static/images/achievements/transparent.png",width="90%")
                          .col-md-3.col-sm-3.col-xs-3
                            //ACHIEVEMENT
                            img(src="/static/images/achievements/transparent.png",width="90%")
                          .col-md-3.col-sm-3.col-xs-3
                            //ACHIEVEMENT
                            img(src="/static/images/achievements/transparent.png",width="90%")
                        button.btn.btn-md.btn-default.achievementChanger Change Displayed Achievements
              .container-fluid.wide-ish-container
                .row
                  .col-md-3.col-sm-3.col-xs-3.center
                    h1.h0.stat 365
                    h3.statDesc Days
                  .col-md-3.col-sm-3.col-xs-3.center
                    h1.h0.stat 52
                    h3.statDesc Weeks
                  .col-md-3.col-sm-3.col-xs-3.center
                    h1.h0.stat 12
                    h3.statDesc Months
                  .col-md-3.col-sm-3.col-xs-3.center
                    h1.h0.stat 1
                    h3.statDesc Year
                  button.btn.btn-md.btn-default.statChanger Change Displayed Statistics
                br
                .row
                  .col-md-3.col-sm-3.col-xs-3.center
                    a(href="#")
                      img(src="/static/images/players/default.png",width="75%").round
                    h3(id="friend1") NAME
                  .col-md-3.col-sm-3.col-xs-3.center
                    a(href="#")
                      img(src="/static/images/players/default.png",width="75%").round
                    h3(id="friend2") NAME
                  .col-md-3.col-sm-3.col-xs-3.center
                    a(href="#")
                      img(src="/static/images/players/default.png",width="75%").round
                    h3(id="friend3") NAME
                  .col-md-3.col-sm-3.col-xs-3.center
                    a(href="#")
                      img(src="/static/images/players/default.png",width="75%").round
                    h3(id="friend4") NAME
            .achievements(id="#achievements" hidden)
              .container-fluid
                .row
                  .col-md-3.col-sm-3.col-xs-3
                    //ACHIEVEMENT
                  .col-md-3.col-sm-3.col-xs-3
                    //ACHIEVEMENT
                  .col-md-3.col-sm-3.col-xs-3
                    //ACHIEVEMENT
                  .col-md-3.col-sm-3.col-xs-3
                    //ACHIEVEMENT
            .statistics(id="#statistics" hidden)
              .container-fluid
                .row
                  .col-md-3.col-sm-3.col-xs-3
                    //STATISTIC
                  .col-md-3.col-sm-3.col-xs-3
                    //STATISTIC
                  .col-md-3.col-sm-3.col-xs-3
                    //STATISTIC
                  .col-md-3.col-sm-3.col-xs-3
                    //STATISTIC
            .friends(id="#friends" hidden)
              .container-fluid
                .row
                  .col-md-3.col-sm-3.col-xs-3
                    //FRIEND
                  .col-md-3.col-sm-3.col-xs-3
                    //FRIEND
                  .col-md-3.col-sm-3.col-xs-3
                    //FRIEND
                  .col-md-3.col-sm-3.col-xs-3
                    //FRIEND
          .mastfoot
            .inner
              p
                | See project on 
                a(href='https://github.com/XenonMolecule/cityGame') Github
                | , by 
                a(href='https://github.com/XenonMolecule') @XenonMolecule
                | , and 
                a(href='https://github.com/Cameronlund4') @Cameronlund4
                | .