extends ./layout.jade

block content
    .selection
        input(id="ac", placeholder="Enter a City")
        btn(id="startBtn").disabledBtn.startBtn.startButton Start!
    .winmessage(hidden)
        h1 You Won!!!
        p.points 2016 Points
    .waitScreen(hidden)
        p Code:
        h1 000000
        p.connectMsg
        button.startButton.beginGame.disabledBtn Start!
    .countDown(hidden)
        p
    div(id="map")
    div(id="street-view",hidden)
    