extends ./layout.jade

block content
    .joinGame
        p Enter Code:
        input.code
        br
        button.startButton.beginGame Join
    .wait(hidden)
        p Waiting...
    div(id="street-view",hidden)
    .winmessage(hidden)
        h1 You Won!!!
        p.points 2016 Points