html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#street-view {
    height: 100%;
}

#map {
    height: 100%;
}

#ac {
    width:75%;
    margin: 0 auto;
    position: absolute;
    margin-left:12.5%;
    z-index:1000;
    height:20px;
    margin-top:10px;
}