html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #007399;
    font-family:Oswald;
}

#street-view {
    height: 100%;
}

#map {
    height: 100%;
}

#ac {
    width:75%;
    margin: 0 auto;
    position: absolute;
    margin-left:12.5%;
    z-index:1000;
    height:20px;
    margin-top:10px;
    border-radius:5px 5px;
}

.startButton{
    width:10vw;
    height:5vw;
    border-radius:10px;
    font-size:3.5vw;
    background-color:rgba(0,0,0,0.0);
    border-style:solid;
    border-width:5px;
    border-color:#000;
    text-align:center;
    cursor:pointer;
    z-index: 999;
    font-family:Oswald;
    color:#000;
}

.beginGame{
  border-color:#FFF !important;
  color:#FFF !important;
  width:20vw !important;
  height:10vw !important;
  font-size:5vw !important;
}

.startBtn {
  position:absolute;
  margin-top:85vh;
  margin-left:45vw;
}

.disabledBtn{
    border-color: #404040 !important;
    color:#404040 !important;
}

.waitScreen{
  text-align:center;
  color:#FFF; 
}

.waitScreen p{
  font-size:10vw;
  margin-bottom:5px;
  margin-top:10vh;
}

.waitScreen h1{
  font-size:20vw;
  margin-top:0px;
  margin-bottom:5px;
}
.joinGame{
  text-align:center;
  color:#FFF;
  font-family:Oswald;
}

.joinGame p{
  font-size:10vw;
  margin-bottom:5px
}

.joinGame input{
  height:15vh;
  width:60vw;
  font-size: 8vw;
  margin-top:0px;
  text-align:center;
}

.joinGame button{
  margin-top:20px;
}

.connectMsg{
  font-size:3vw !important;
  margin-top:10px !important;
}

.wait{
  text-align:center;
}

.wait p{
  font-size:10vw;
  font-family:Oswald;
  color:#FFF;
  margin-top:30vh;
}

.countDown {
  text-align:center;
}

.countDown p{
  font-size:10vw;
  font-family:Oswald;
  color:#FFF;
  margin-top:30vh;
}

.winmessage{
  text-align:center;
  margin-top:30vh;
  font-size:5vw;
  color:#FFF;
  background-color:rgba(0, 115, 153,0.85);
  z-index:1001;
  height:20vh;
  width:60vw;
  margin-left:20vw;
  border-radius:10px 10px;
  position:absolute;
}

.winmessage h1{
  margin-bottom:-10px;
  margin-top:2px;
}

.winmessage br{
  height:1vh;
  margin-bottom:0px;
  margin-top:0px;
}

.points{
  margin-top:7px;
}

@media(min-width:1200px){
  .waitScreen p{
    font-size:5vw;
  }
  .waitScreen h1{
    font-size:10vw;
  }
  .beginGame{
    width:10vw !important;
    height:5vw !important;
    font-size:2.5vw !important;
  }
  .connectMsg{
    font-size:1.5vw !important;
  }
  
  .winmessage{
    font-size:2.5vw;
  }
}