head
    title cityGame
    link(href='https://fonts.googleapis.com/css?family=Oswald',rel='stylesheet',type='text/css')
    link(rel="stylesheet",href="/static/css/style.css",type="text/css")
    if onGame == true
        link(rel="stylesheet", href="/static/css/game.css", type="text/css")